{% extends "base.html" %}
{% block content %}

<!--ブログカテゴリ更新ページ-->

<!--削除ボタン-->
<section id="menu">
    <div class="container my-3 py-4 bg-light">
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#del_modal">
                    削除
                </button>
            </div>
        </div>
    </div>
</section>

<!--カテゴリ更新-->
<section id="category_update">
    <div class="container my-3">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="card bg-success text-center">
                    <div class="card-body text-light">
                        <h3>カテゴリ更新</h3>
                        <p>ブログカテゴリ情報を変更してください。</p>
                        <form method="POST">
                            {{ form.hidden_tag() }}
                            <div class="mb-3">
                                {{ render_field(form.category, class="form-control form-control-lg",
                                placeholder="カテゴリ名") }}
                            </div>
                            {{ form.submit(class="btn btn-outline-light w-100") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 削除遷移後の画面 -->
<div class="modal fade" id="del_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">削除確認</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>このカテゴリを削除しますか？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                <form action="{{ url_for('main.delete_category', blog_category_id=form.id) }}" method="POST">
                    <input type="submit" class="btn btn-danger" value="削除">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}